# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Local DB and credentials
db.sqlite
data_store.json
.env
.env.*

# Logs
*.log

# Docker
docker-compose.override.yml

# Ruff cache
__pycache__
.ruff_cache/

# other
*.sqlite3
*.db

node_modules

# Test coverage and cache
coverage/
.cache/
